# 2.1 Loading Data with Pandas

Now that we have covered some basic numpy and pandas concepts it's time to load some data and do some exploration to get more familiar with using pandas dataframes.

Pandas supports many ways of loading data into dataframes.

You can load file-like data sources with methods like `pd.read_csv()` and the more generic `pd.read_table()`.

You can load appropriately structured json with `pd.read_json()`, html tables with `pd.read_html()`, and a variety of formats like parquet, avro, hdf5, etc with either natively with pandas or in some cases with the help of extra libraries.

You can load data from sql database connections with `pd.read_sql()`

And of course most formats that can be read with `pd.read_x()` can be written to with `pd.to_x()`.

## Load Some Data!

In [1]:
import pandas as pd
import numpy as np

In [29]:
## CSV File
df_iris = pd.read_csv("data/iris.csv")
df_iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [28]:
# Excel File
df_quarterly_sales = pd.read_excel(
    "data/quarterly-sales.xlsx", 
    sheet_name='Quarterly Report', 
    skiprows=3
)
df_quarterly_sales

   Year  Quarter           EMEA           APAC           AMER
0  2019        1  603515.529330  489939.068588  139833.431014
1  2019        2   10608.333054  269669.146613  146610.462248
2  2019        3  634456.613212    7473.502092  380174.464622
3  2019        4  502585.920481  747360.678675  315429.588546
4  2020        1  844499.180654   39658.770780  408754.381879
5  2020        2  665870.383146  372019.180867  205696.914888
6  2020        3  850135.318011  650400.250387  778249.349924
7  2020        4  644687.801881  505226.345762   37998.117469

In [30]:
# Loading json data
df_users = pd.read_json('data/users.json')
df_users

,name,address,email,age,credit_card_number
0,Laura Jefferson,Unit 6457 Box 6722\nDPO AE 93125,zperkins@gmail.com,30,30311958352028
1,Bryce Smith,"42943 Bonnie Tunnel Suite 276\nNew Rogerhaven,...",xdouglas@smith.com,97,2270858018489401
2,Paula Green,"PSC 3886, Box 6328\nAPO AP 94387",qburns@gmail.com,56,213172425271111
3,Carl Martinez,59367 Phillips Haven Suite 573\nWest Josephmou...,johnkennedy@hotmail.com,34,3503220794461160
4,Taylor Torres,"875 Moore Views\nNorth Paul, OR 01609",vtran@robinson.com,32,3587682339508939
...,...,...,...,...,...
95,Timothy Stewart,"676 Alison Pike\nSarahfort, OK 59751",hbishop@valdez-johnson.com,92,3510574716184909
96,Russell Smith,34953 Donald Locks Apt. 819\nNorth Jonathonlan...,shawn05@yahoo.com,25,3524951723539909
97,David Smith,"9800 Lee Groves\nRobinsonland, CT 94496",ruthanderson@cox.com,83,30546691561290
98,Cody David,"70047 Cristina Courts\nNew Glenntown, AL 46804",carlamarshall@mcdonald-williams.info,55,4818023231958905856
99,Carolyn Guerrero,"366 Tyrone Throughway\nCummingsport, IN 97799",olivia37@hotmail.com,88,4055935818226196