# 2.5 Saving data with Pandas

Let's take some of the data we used in the last session and look at saving data in Pandas. As mentioned in the loading data notebook, most of the interfaces pandas supports reading with `read_something()` it also supports writing with `to_something()`.

For example lets try loading our data before and saving out some different formats.

In [1]:
import pandas as pd
import numpy as np

# load the IMDB dataset
df = pd.read_csv("../data/imdb_clean.csv", index_col='id')
df.head()

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,parentTconst,seasonNumber,episodeNumber,parentTitle,decade
id,,,,,,,,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short",5.6,1643.0,NaN,NaN,NaN,NaN,1890.0
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short",6.1,198.0,NaN,NaN,NaN,NaN,1890.0
tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,4.0,"Animation,Comedy,Romance",6.5,1337.0,NaN,NaN,NaN,NaN,1890.0
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short",6.2,120.0,NaN,NaN,NaN,NaN,1890.0
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,"Comedy,Short",6.1,2122.0,NaN,NaN,NaN,NaN,1890.0

##Â Excercises

1. Save an export of all the video game titles from 2000 to 2010 in csv format
2. Save a pivot table of the average movie rating and number of votes cast by start year and title type in excel format

## 1. Save an export of all the video game titles from 2000 to 2010 in csv format

In [ ]:
# Add your solution here:
# Hint: call to_csv() on your dataframe once you've filtered it down.

video_games_2000s = df.loc[
    # Combine multiple conditions with '&'
    (df['titleType'] == 'videoGame') &
    ((df['startYear']) >= 2000) & 
    ((df['startYear']) <= 2010)
]

# Check what we have before we save it
display(video_games_2000s.head())

video_games_2000s.to_csv('../data/outputs/video-games-2000-2010.csv')

## 2. Save a pivot table of the average movie rating and number of votes cast by start year and title type in excel format
Have start year going down, and title type going across

In [ ]:
# Add your solution here:
# Hint 1: you can supply a dictionary of functions to aggfunc to tell it which aggregation to apply to which column in values.
# Hint 2: call to_excel() on your dataframe once you've pivoted the data.

rating_pivot = df.pivot_table(
    index='startYear',
    columns='titleType',
    values=['averageRating','numVotes'],
    aggfunc={'averageRating': 'mean', 'numVotes':'sum'}

)


# Check what we have before we save it
display(rating_pivot.head())

rating_pivot.to_excel(
    '../data/outputs/rating-pivot.xlsx',
    sheet_name='Ratings by Year, Title Type'
)